body{
    margin: 0;
    font-family: cursive;
}
/* GRAFICOS - TEMPERATURA - UMIDADE - LUCROS E PERDAS  */
.meu-grafico {
    margin-top: 15%;
    width: 45%;
    background-color: moccasin;
    border-radius: 5%;
    padding-bottom: 1%;
    /* margin-left: 5%; */
}

.meu-graficoTwo {
    margin-top: 15%;
    width: 45%;
    background-color: moccasin;
    border-radius: 5%;
    padding-bottom: 1%;

    /* margin-left: 50%; */
    /* margin-right: 5%; */
}

.meu-graficoTree {
    margin: 2% auto;
    background-color: moccasin;
    border-radius: 5%;
    width: 45%;
    /* margin-top: 2%; */
    /* margin-left: 28%; */
}

.dados {
    width: 80%;
    margin: auto;
    padding-bottom: 35%;
}

.dados button {
    margin-left: 40%;
    border-radius: 5%;
    background-color: saddlebrown;
    color: white;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    height: 35px;
    width: 95px;
}

.lucro {
    width: 80%;
    margin: auto;
    padding-bottom: 5%;
}

.blocoPerfil{
    width: 50%;
    margin: auto;
    overflow: auto;
    background-color: moccasin;
    border-radius: 40px;
}

.perfilImg{
    margin-left: 5%;
}

.blocoPerfil button{
    margin-left: 80%;
    
}